:root {
	font-size: 14px;
	font-family: 'Raleway', sans-serif;
	color: #354657;
}
body {
	margin: 0 auto;
}
/* HEADER */
header {
	background-color: #F8F4FC;
}
.header__container {
	margin: 0 auto;
	width: 80%;
}
.header-firstline {
	padding-top: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.top-menu {
	padding-right: 16rem;
}
.top-menu a {
	text-decoration: none;
	font-weight: 700;
	padding-right: 2.5rem;
	color: #354657;
}
.top-icons a {
	padding-right: 2rem;
}
.re {
	display: block;
}
.header__breadcrumbs {
	padding-top: 1.1rem;
	padding-bottom: 1.1rem;
	color: #626262;
}
.header__breadcrumbs a {
	color: #626262;
	padding-right: .7rem;
	padding-left: .7rem;
}
.thispage {
	text-decoration: none;
}
/* CONTENT */
.content {
	width: 80%;
	margin: 0 auto;
}
.content__header {
	border-bottom: 1px solid #E2E2E2;
	font-size: 30px;
}
.content__header h1 {
	font-size: 30px;
	padding-top: 70px;
	padding-bottom: 17px;
	margin: 0;
}
.header-form {
	display: flex;
	justify-content: space-between;
}
.first-radio-form {
	width: 30%;
}
.enterform {
	background-color: #F0F2F5;
	margin-top: 40px;
	width: 30%;
	padding-top: 20px;
	padding-left: 20px;
}
.delivery {
	width: 65%;
}
.deliveryform {
	background-color: #F0F2F5;
	margin-top: 40px;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 30px;
}
input {
	accent-color: #946FD3;
}
.form-name {
	font-size: 20px;
	font-weight: 700;
	margin-bottom: 20px;
}
.second-row-form {
	display: flex;
	justify-content: space-between;
}
.personalform {
	background-color: #F0F2F5;
	margin-top: 30px;
	width: 30%;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 30px;
}
.input-left {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.input-left input {
	height: 38px;
	margin-right: 20px;
	margin-top: -5px;
	padding-left: 20px;
}
.deliveryinfo {
	margin-top: 30px;
}
.basket {
	width: 65%;
	margin-top: 30px;
}
.paymentform {
	background-color: #F0F2F5;
	padding-top: 20px;
	padding-left: 20px;
	padding-bottom: 30px;
}
.basket-grid {
	display: grid;
	grid-template-columns: .9fr 1.1fr 1fr 1.3fr 1fr;
	align-items: center;
}
.quantity {
	display: flex;
	justify-content: space-between;
	vertical-align: top;
}
.num {
	width: 25%;
	border: 1px solid #E9E9E9;
	border-radius: 3px;
	height: 33px;
}
.empty {
	grid-row-start: 3;
	grid-row-end: 6;
	grid-column-start: 1;
	grid-column-end: 4;
}
.basket-header {
	text-transform: uppercase;
	font-weight: 700;
	background-color: #F0F2F5;
}
.basket-grid div {
	padding: 1rem 1.5rem;
}
.basket-total {
	text-transform: uppercase;
	font-weight: 700;
}
.delivery-fon {
	background-color: #FAFAFA;
}
.comment-form {
	background-color: #F0F2F5;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 20px;
	margin-top: 30px;
}
.comment-form textarea {
	font-family: 'Raleway', sans-serif;
	padding-top: 10px;
	padding-left: 10px;
	margin-top: 10px;
	margin-right: 10px;
}
#comment {
	width: 99%;
}
.agreement {
	padding-top: 1rem;
	font-size: 16px;
}
.pay-btn {
	display: flex;
	flex-direction: row;
	justify-content:flex-end;
}
.btn {
	background-color: #946FD3;
	color: white;
	font-size: 16px;
	font-weight: 700;
	border-radius: 50px;
	width: 206px;
	padding: 20px 20px;
	border: none;
	margin: 30px 0px;
}
/* FOOTER */
footer {
	margin-top: 150px;
	border-top: 1px solid #E2E2E2;
}
.footer__container {
	margin: 0 auto;
	width: 80%;
	padding: 20px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.footer-links {
margin-right: 350px;
}
.footer-links a{
text-decoration: none;
color: #354657;
font-size: 16px;
font-weight: 700;
margin-left: 40px;
}
.social-links a{
	margin-left: 17px;
}
